@charset "UTF-8";
.imagenes-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-1 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-1 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/allende_ignacio_2.jpg");
  background-size: cover;
}

.imagenes-1 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/cristobal_colon_biografia.jpg");
  background-size: cover;
}

.imagenes-1 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Hidalgo.jpg");
  background-size: cover;
}

.imagenes-1 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Pascual_Orozco3.png");
  background-size: cover;
}

.imagenes-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-2 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-2 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/allende_ignacio_2.jpg");
  background-size: cover;
}

.imagenes-2 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Hidalgo.jpg");
  background-size: cover;
}

.imagenes-2 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Pascual_Orozco3.png");
  background-size: cover;
}

.imagenes-2 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/ricardo_flores_magon.png");
  background-size: cover;
}

.imagenes-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-3 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-3 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/ricardo_flores_magon.png");
  background-size: cover;
}

.imagenes-3 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/josefa_ortiz.jpg");
  background-size: cover;
}

.imagenes-3 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Pascual_Orozco3.png");
  background-size: cover;
}

.imagenes-3 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/victoriano_huerta.jpg");
  background-size: cover;
}

.imagenes-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-4 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-4 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/madero_francisco.jpg");
  background-size: cover;
}

.imagenes-4 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Hidalgo.jpg");
  background-size: cover;
}

.imagenes-4 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/vicente_guerrero.jpg");
  background-size: cover;
}

.imagenes-4 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/jose_maria_morelos.jpg");
  background-size: cover;
}

.imagenes-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-5 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-5 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/ricardo_flores_magon.png");
  background-size: cover;
}

.imagenes-5 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/vicente_guerrero.jpg");
  background-size: cover;
}

.imagenes-5 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/madero_francisco.jpg");
  background-size: cover;
}

.imagenes-5 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/jose_maria_morelos.jpg");
  background-size: cover;
}

.imagenes-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-6 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-6 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/emiliano_zapata_portada.webp");
  background-size: cover;
}

.imagenes-6 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Pascual_Orozco3.png");
  background-size: cover;
}

.imagenes-6 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/agustin_de_iturbide.jpg");
  background-size: cover;
}

.imagenes-6 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/jose_maria_morelos.jpg");
  background-size: cover;
}

.imagenes-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-7 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-7 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Guadalupe_Victoria.jpg");
  background-size: cover;
}

.imagenes-7 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Hidalgo.jpg");
  background-size: cover;
}

.imagenes-7 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/A_Serdán.png");
  background-size: cover;
}

.imagenes-7 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/jose_maria_morelos.jpg");
  background-size: cover;
}

.imagenes-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-8 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-8 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/madero_francisco.jpg");
  background-size: cover;
}

.imagenes-8 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/pino.jpg");
  background-size: cover;
}

.imagenes-8 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/A_Serdán.png");
  background-size: cover;
}

.imagenes-8 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/porfiriodiaz.jpg");
  background-size: cover;
}

.imagenes-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-9 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-9 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/pino.jpg");
  background-size: cover;
}

.imagenes-9 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/madero_francisco.jpg");
  background-size: cover;
}

.imagenes-9 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/porfiriodiaz.jpg");
  background-size: cover;
}

.imagenes-9 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Guadalupe_Victoria.jpg");
  background-size: cover;
}

.imagenes-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-10 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-10 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/pino.jpg");
  background-size: cover;
}

.imagenes-10 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/josefa_ortiz.jpg");
  background-size: cover;
}

.imagenes-10 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/vicente_guerrero.jpg");
  background-size: cover;
}

.imagenes-10 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/agustin_de_iturbide.jpg");
  background-size: cover;
}

.imagenes-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-11 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-11 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Pascual_Orozco3.png");
  background-size: cover;
}

.imagenes-11 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/jose_maria_morelos.jpg");
  background-size: cover;
}

.imagenes-11 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/ricardo_flores_magon.png");
  background-size: cover;
}

.imagenes-11 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/agustin_de_iturbide.jpg");
  background-size: cover;
}

.imagenes-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-12 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-12 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/pino.jpg");
  background-size: cover;
}

.imagenes-12 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/madero_francisco.jpg");
  background-size: cover;
}

.imagenes-12 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/vicente_guerrero.jpg");
  background-size: cover;
}

.imagenes-12 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/A_Serdán.png");
  background-size: cover;
}

.imagenes-13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-13 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-13 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Pascual_Orozco3.png");
  background-size: cover;
}

.imagenes-13 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/allende_ignacio_2.jpg");
  background-size: cover;
}

.imagenes-13 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/A_Serdán.png");
  background-size: cover;
}

.imagenes-13 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/agustin_de_iturbide.jpg");
  background-size: cover;
}

.imagenes-14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-14 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-14 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/pino.jpg");
  background-size: cover;
}

.imagenes-14 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/victoriano_huerta.jpg");
  background-size: cover;
}

.imagenes-14 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/vicente_guerrero.jpg");
  background-size: cover;
}

.imagenes-14 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/agustin_de_iturbide.jpg");
  background-size: cover;
}

.imagenes-15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.imagenes-15 .contenedor {
  height: 200px;
  width: 200px;
}

.imagenes-15 .contenedor .img1 {
  width: 100%;
  height: 100%;
  background: url("./personajes/Guadalupe_Victoria.jpg");
  background-size: cover;
}

.imagenes-15 .contenedor .img2 {
  width: 100%;
  height: 100%;
  background: url("./personajes/josefa_ortiz.jpg");
  background-size: cover;
}

.imagenes-15 .contenedor .img3 {
  width: 100%;
  height: 100%;
  background: url("./personajes/emiliano_zapata_portada.webp");
  background-size: cover;
}

.imagenes-15 .contenedor .img4 {
  width: 100%;
  height: 100%;
  background: url("./personajes/porfiriodiaz.jpg");
  background-size: cover;
}

.imgs {
  height: 80vh;
}
/*# sourceMappingURL=estilos.css.map */