.imagenes-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/allende_ignacio_2.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/cristobal_colon_biografia.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Hidalgo.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Pascual_Orozco3.png');
            background-size: cover;
        }
    }
}


.imagenes-2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/allende_ignacio_2.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Hidalgo.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Pascual_Orozco3.png');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/ricardo_flores_magon.png');
            background-size: cover;
        }
    }
}
.imagenes-3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/ricardo_flores_magon.png');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/josefa_ortiz.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Pascual_Orozco3.png');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/victoriano_huerta.jpg');
            background-size: cover;
        }
    }
}
.imagenes-4 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/madero_francisco.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Hidalgo.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/vicente_guerrero.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/jose_maria_morelos.jpg');
            background-size: cover;
        }
    }
}
.imagenes-5 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/ricardo_flores_magon.png');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/vicente_guerrero.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/madero_francisco.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/jose_maria_morelos.jpg');
            background-size: cover;
        }
    }
}
.imagenes-6 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/emiliano_zapata_portada.webp');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Pascual_Orozco3.png');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/agustin_de_iturbide.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/jose_maria_morelos.jpg');
            background-size: cover;
        }
    }
}
.imagenes-7 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Guadalupe_Victoria.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Hidalgo.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/A_Serd치n.png');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/jose_maria_morelos.jpg');
            background-size: cover;
        }
    }
}
.imagenes-8 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/madero_francisco.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/pino.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/A_Serd치n.png');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/porfiriodiaz.jpg');
            background-size: cover;
        }
    }
}
.imagenes-9 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/pino.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/madero_francisco.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/porfiriodiaz.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Guadalupe_Victoria.jpg');
            background-size: cover;
        }
    }
}
.imagenes-10 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/pino.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/josefa_ortiz.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/vicente_guerrero.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/agustin_de_iturbide.jpg');
            background-size: cover;
        }
    }
}
.imagenes-11 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Pascual_Orozco3.png');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/jose_maria_morelos.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/ricardo_flores_magon.png');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/agustin_de_iturbide.jpg');
            background-size: cover;
        }
    }
}
.imagenes-12 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/pino.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/madero_francisco.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/vicente_guerrero.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/A_Serd치n.png');
            background-size: cover;
        }
    }
}
.imagenes-13 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Pascual_Orozco3.png');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/allende_ignacio_2.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/A_Serd치n.png');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/agustin_de_iturbide.jpg');
            background-size: cover;
        }
    }
}
.imagenes-14 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/pino.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/victoriano_huerta.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/vicente_guerrero.jpg');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/agustin_de_iturbide.jpg');
            background-size: cover;
        }
    }
}
.imagenes-15 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .contenedor {
        height: 200px;
        width: 200px;
        .img1 {
            width: 100%;
            height: 100%;
            background: url('./personajes/Guadalupe_Victoria.jpg');
            background-size: cover;
        }
        .img2 {
            width: 100%;
            height: 100%;
            background: url('./personajes/josefa_ortiz.jpg');
            background-size: cover;
        }
        .img3 {
            width: 100%;
            height: 100%;
            background: url('./personajes/emiliano_zapata_portada.webp');
            background-size: cover;
        }
        .img4 {
            width: 100%;
            height: 100%;
            background: url('./personajes/porfiriodiaz.jpg');
            background-size: cover;
        }
    }
}
.imgs {
    height: 80vh;
}